{% extends "pybo/common/base.html" %}

{% block title %}Question Create{% endblock title %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form id="questionForm"
        action="{% if form.instance.pk %}
                    {% url 'pybo:question:edit' form.instance.pk %}
                {% else %}
                    {% url 'pybo:question:create' %}
                {% endif %}"
        method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" name="subject" id="subject" value="{{ form.subject.value|default_if_none:'' }}" class="form-control">

            {% if form.subject.errors %}
            <div class="text-danger small mt-1">
                {% for error in form.subject.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea name="content" id="content" rows="10" class="form-control">{{ form.content.value|default_if_none:'' }}</textarea>

            {% if form.content.errors %}
            <div class="text-danger small mt-1">
                {% for error in form.content.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">
            {{ form.instance.pk|yesno:"수정,등록" }}
        </button>
        <button type="button" id="list-btn" class="btn btn-dark">목록</button>
    </form>

    {% if messages %}
    <div class="my-3">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="text-danger small">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="text-success small">{{ message }}</div>
            {% else %}
                <div class="text-secondary small">{{ message }}</div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block script %}
    <script>
        function goToQuestionList() {
            $('#list-btn').click(function (e) {
                e.preventDefault();
                const questionList = "{% url 'pybo:question:list' %}";
                location.href = questionList;
            });
        }

        $(document).ready(function () {
            goToQuestionList();
        });
    </script>
{% endblock script %}