{% extends "pybo/common/base.html" %}

{% load static %}
{% load humanize %}

{% block title %}Question{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
{% endblock head %}

{% block content %}
    <div class="container my-3">
        <h2 class="border-bottom py-2">{{ question.subject }}</h2>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">{{ question.author.username }}</div>
                        <div>{{ question.created_at }}</div>
                    </div>
                </div>
                {% if request.user == question.author %}
                <form>
                <div class="my-3">
                    <a href="{% url 'pybo:question:edit' question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                    <a href="#" id="question_delete" data-id="{{ question.id }}" class="btn btn-sm btn-outline-danger">삭제</a>
                </div>
                {% endif %}


                <!-- error처리 -->
            </div>
        </div>

        <h5 class="border-bottom my-3 py-2">{{ question.answers.count|intcomma }} 개의 답변이 있습니다.</h5>
        {% for answer in question.answers.all %}
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">{{ answer.author.username }}</div>
                        <div>{{ answer.created_at }}</div>
                    </div>
                </div>
                {% if request.user == answer.author %}
                <div class="my-3">
                    <a href="#" class="btn btn-sm btn-outline-secondary">수정</a>
                    <a href="#" class="btn btn-sm btn-outline-danger">삭제</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <form id="answerForm" action="{% url 'pybo:answer:create' question.id %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="content" class="form-label">답변내용</label>
                <textarea name="content" id="content" rows="15">{{ form.content.value|default_if_none:"" }}</textarea>

                {% if form.content %}
                <div class="text-danger small mt-1">
                    {% for error in form.content.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">등록</button>
            <button type="button" id="list-btn" class="btn btn-dark">목록</button>
        </form>
    </div>
{% endblock content %}

{% block script %}
<script>
    function goToQuestionList() {
        $('#list-btn').click(function (e) {
            e.preventDefault();
            const questionList = "{% url 'pybo:question:list' %}";
            location.href = questionList;
        });
    }

    function deleteQuestion() {
        $('#question_delete').click(function (e) {
            e.preventDefault();

            if (confirm('정말로 삭제하시겠습니까?')) {
                const id = $(this).data('id');

                $.ajax({
                    type: "delete",
                    url: "{% url 'pybo:question:delete' question.id %}",
                    dataType: "json",
                    success: function (response) {
                        console.log(response)
                        alert('삭제완료');
                        location.href = "{% url 'pybo:question:list' %}"
                    },
                    error: function (xhr, error, status) {
                        alert('요청 처리에 실패했습니다. ' + (xhr.responseJSON?.message ?? '관리자에게 문의해 주세요.') + ' ' + xhr.responseText);
                    },
                });
            }
        });
    }

    $(document).ready(function() {
        goToQuestionList();
        deleteQuestion();
    });
</script>
{% endblock script %}